<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pixlogy.pixlogy">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pixlogy"
        tools:targetApi="31">
        <activity
            android:name=".Decode"
            android:exported="false" />
        <activity
            android:name=".Encode"
            android:exported="false" />
        <activity
            android:name=".ImageStegnography"
            android:exported="false" />
        <activity
            android:name=".auth.Otp"
            android:exported="false" />
        <activity
            android:name=".auth.phoneNum"
            android:exported="false" >


        </activity>
        <activity
            android:name=".auth.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".auth.Signup"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="true">


        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">


            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
    </application>

</manifest>